/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar,
html::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body,
html,
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body,
html {
  font-family: "Geist", sans-serif;
}

/* Mapbox specific cursors */
.mapboxgl-canvas,
.mapboxgl-canvas-container {
  cursor: default !important;
}

/* Header animations */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDownFadeIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
